<div id="main-wrapper">
	<div>

		<div class="interior-poster">
			
			<p>
Use one of these real facts in your Facebook video posting. Or create your own, based on a real state fact you want people to know.
</p>


<h2>ILLINOIS FACT: Almost 400,000 Chicago Public School students are political pawns!
<span>We Can Do Better Illinois.</span>
</h2>


<h2>ILLINOIS FACT: Illinois is ranked 25th in the nation for poverty!
	<span>We Can Do Better Illinois.</span>
</h2>



<h2>ILLINOIS FACT: Over 130,000 students are without MAP funding for college!
	<span>We Can Do Better Illinois.</span>
</h2>

<h2>ILLINOIS FACT: Services for more than 70,000 domestic violence survivors are at risk!
	<span>We Can Do Better Illinois.</span>
</h2>

<h2>ILLINOIS FACT: Illinois ranks 35th in the nation for unemployment!
	<span>We Can Do Better Illinois.</span>
</h2>

<h2>ILLINOIS FACT: 90% of homeless care centers are being forced to cut services or close!
	<span>We Can Do Better Illinois.</span>
</h2>

<h2>ILLINOIS FACT: Psychiatric support, including medications, are being withheld in our state!
	<span>We Can Do Better Illinois.</span>
</h2>


<h2>ILLINOIS FACT: 9 out of 10 families who depend on state-supported child care assistance have had it taken away!
	<span>We Can Do Better Illinois.</span>
</h2>

<h2>ILLINOIS FACT: Illinois is ranked 18th in the nation for food insecurity!
	<span>We Can Do Better Illinois.</span>
</h2>

<h2>ILLINOIS FACT: Illinois is ranked 28th in the nation for homeless students!
	<span>We Can Do Better Illinois.</span>
</h2>

<h2>ILLINOIS FACT: Police training classes across the state have been cancelled!
	<span>We Can Do Better Illinois.</span>
</h2>

<h2>ILLINOIS FACT: Community screenings for the sickle cell genetic trait are on hold indefinitely!
	<span>We Can Do Better Illinois.</span>
</h2>

<h2>ILLINOIS FACT: The Epilepsy Resource Center in Springfield has been closed!
	<span>We Can Do Better Illinois.</span>
</h2>			
		</div>	

	</div>	
</div>	
