<div id="main-wrapper">
	<div>

		<div class="interior-poster">
			<p class="ruled">Get involved! Through coordinated, shocking, and loud but peaceful protests, We Can Do Better will publicize the plight of our state’s poor, homeless and needy families, individuals and seniors. The budgets of the agencies they rely on for <span>&nbsp;everyday care&nbsp;</span> are being bled dry at the hands of <span>&nbsp;uncaring politicians&nbsp;</span>.
			</p>
			<p class="ruled">
				<span>&nbsp;Lives and livelihoods are at stake&nbsp;</span> and time is running out. Here’s how you can help now:
			</p>


			<h4>Join the Paper Bag Challenge</h4>
			<ul>
				<li>Post a video of yourself stating one of the <a href="/get-involved/facts" target="_blank">Real State Facts</a>, and putting a brown paper bag over your head to hide your shame for the once-great government of Illinois and challenge your friends to do the same. 
</li>
<li>
Change your Facebook profile picture to one of you with a paper bag over your head.
</li>
</ul>
			<h4>Take Social Action</h4>
			<ul>
				<li>Tweet, post Instagram photos, and publish on other social media using the hashtag #DoBetterIL. Post one of our <a href="/get-involved/facts" target="_blank">Real State Facts</a>, or create one of your own.</li>
			</ul>
			<h4>Write an E-mail to Your Representative</h4>

			<ul>
				<li>As a matter of fact, we have already written a <%= link_to 'We Can Do Better letter', download_doc_path %> </a> to make it easy.
And here is how to reach your <a href="http://openstates.org/" target="_blank">Illinois state representative.</a>
</li>
			</ul>

			
			
		</div>	

	</div>	
</div>
