
<% @facts.order(:id).each_with_index do |fact, index| %>
<section class="cd-section<% if index == 0 %> visible<% end %>">
		<div>
			<div class="poster-content">
				<div class="poster">
					<h2>THE REAL STATE OF THE STATE</h2>
					<h1>FACT: 
						<!-- <span><%= fact.preview  %></span> -->
						<%= fact.title  %></h1>
						<h3 class="mobile">We can do better illinois.</h3>
					<div class="poster-nav">
								<a href="/whats-the-issue">> What is the issue?</a>
								<a href="/get-involved">> Get Involved</a>
					</div>
						
					<div class="do-better">
						<h3>We can do better illinois.</h3>
					</div>	
					
				</div>
			</div>
			
		</div>
</section>
<% end %>
<nav>
	<ul class="cd-vertical-nav">
		<li><a href="#0" class="cd-prev inactive">Next</a></li>
		<li><a href="#0" class="cd-next">Prev</a></li>
	</ul>
</nav> <!-- .cd-vertical-nav -->

