<div id="main-wrapper">
	<div>

		<div class="interior-poster">
			<p>The $721 billion economy of the Land of Lincoln is the fifth largest in the U.S. and larger than that of many independent nations. Yet Illinois has<span> more than 30,000 homeless children </span>with 46 out of 102 counties on the Poverty Watch or the Poverty Warning list.</p>
<p>
The Illinois budget stalemate is strangling the agencies that provide<span>  critical services </span>for children, families, and communities. Our leaders’<span>  indifference </span>to the suffering of Illinois’ most vulnerable residents<span>  has to stop now.</span> 
</p>

			
		</div>	

	</div>	
</div>
