<div id="main-wrapper">
	<div>

		<div class="interior-poster">
			<p class="ruled">We Can Do Better is a grassroots movement determined to increase state funding for social services in Illinois. We aim to achieve our goal through a public campaign shaming elected officials, their inaction, and the politics they play with the lives of the needy. 
</p>

			
		</div>	

	</div>	
</div>
