@import "bourbon";
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/layout';

*, *::after, *::before {
	box-sizing: border-box;
}

html, body {
 height: 100%;
 margin: 0px;
 padding: 0px;
 font-size:14px;
background-image: url(image-tag(craft-02.jpg));
background-repeat:repeat;
background-position:center;
 font-family: 'Verlag A', 'Verlag B'; font-weight: 200; font-style: normal;
 font-family: "Knockout 70 A", "Knockout 70 B";
 font-style: normal;
 font-weight: 400;
 @include font-smoothing;

   &::before {
       /* never visible - this is used in jQuery to check the current MQ */
       content: 'mobile';
       display: none;
   }

   @include MQ(L) {

       &::before {
         /* never visible - this is used in jQuery to check the current MQ */
         content: 'desktop';
       }
   }
}

h1,h2,h3,h4,h5,h6 {
 margin:0;
 padding:0;
 font-size:1em;
 line-height:1em;
}

ul {
 list-style:none;
 margin:0;
 padding:0;
}
ul li {
 float:left;position:relative;
}
.fact-row {
 width:100%;
 margin:0;
 padding:0;
 float:left;
 height:90px;
}
.row {
 position: absolute;
     width: 300%;
     left: 0px;
     margin-left: -100%;
}
#one .row {
   margin-left: -105%;

}
#two .row {
   margin-left: -80%;

}
.row {
 font-family: "Knockout 67 A", "Knockout 67 B";
 font-style: normal;
 font-weight: 400;	text-transform:uppercase;
 font-size:9em;
 line-height: 80px;
     text-align: center;
     color: #fff;
     overflow: hidden;
     height: 105px;
}
#title .row {
   width: 500%;
   margin-left: -200%;
   overflow: visible;
 z-index:99;

}

.row span.text span {
 opacity:0;
}

.row span.text .site-title {
 opacity:1;
}

.fact-row.flipped span.text span {
 opacity:1;
 -webkit-transition: opacity .75s;
 -moz-transition:opacity .75s;
 -o-transition: opacity .75s;
 transition: opacity .75s;
}
.fact-row.flipped span.text {
}
span.wrap {
 height:75px;
 width:500px;
 position:relative;
 display:inline-block;
}
span.wrap.two,
span.wrap.one {
 height:75px;
 width:300px;
 position:relative;
 display:inline-block;
}
span.wrap .black {
   position: absolute;
   height: 83px;
   background: #fff;
     background: rgba(255,255,255,0.4);
   width: 0px;
   top: -8px;
}
span.wrap.left .black {
   right: 0px;
}
span.wrap.right .black {
   left: 0px;
}
.flipped span.wrap .black {
 width:100%;
 -webkit-transition: width .75s;
 -moz-transition:width .75s;
 -o-transition: width .75s;
 transition: width .75s;
}
.site-title {
 position:relative;
   display: inline-block;
   width: 350px;
 height:85px;
}
.site-title .illinois{
 position: absolute;
     width: 160px;
     height: 200px;
   background-image: url(image-tag(illinois.png));
   background-repeat: no-repeat;
   background-position:center;

     left: -40px;
     top: -60px;
}

.site-title h3 {
 color: #111;
     position: absolute;
     left:130px;
     top: -1px;
     font-size: 58px;
     width: 220px;
     text-align: left;
     line-height: 42px;
}

.center {
 max-width:1280px;
 margin:0 auto;
 padding:0px;
}

.detail {
 margin:100px auto;
 float:left;
 width:100%;
}

.detail h3 {
 font-family: "Knockout 70 A", "Knockout 70 B";
 text-transform:uppercase;
   font-size: 8.5em;
   color: #111;
   letter-spacing: 0.03em;
   text-align: left;
   line-height: 90px;
 position:relative;
 display:block;
 float:left;
}
.nav {
 width:100%;
 height:85px;
 position:relative;
}

.nav span.black {
   position: absolute;
   height: 70%;
   background: #fff;
   width: 0px;
   top: 15%;
 left:2%;
}
.nav:hover  {
 cursor:pointer;
}

.nav:hover span.black {
 width:95%;
}


/*.poster {
 width:700px;
 height:900px;

}*/

/* --------------------------------

Main Components

-------------------------------- */

body[data-hijacking="on"] {
	background-image: url(image-tag(craft-02.jpg));
	background-repeat:repeat;
	background-position:center;

	@include MQ(L) {
		overflow: hidden;
	}
}

.cd-section {
	height: 100vh;

	h2 {
		font-family: "Gotham SSm A", "Gotham SSm B";
		font-style: normal;
		font-weight: 700;
		text-align: left;
		text-transform:uppercase;
		font-size:1rem;
	}
	.do-better{
		background:#FBAF3F;
		position:absolute;
		bottom:250px;
		padding:25px;
		width: 325px;
		height: 90px;
		left:-100px;
	    background-image: url(image-tag(illinois.png));
	    background-repeat: no-repeat;
	    background-position: 10px center;
		background-size:70px;
	    -ms-transform: rotate(2deg); /* IE 9 */
	    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
	    transform: rotate(2deg);
		border-top:1px solid rgba(255,255,255,0.2);
		border-bottom:1px solid rgba(0,0,0,0.2);
		box-shadow:1px 2px 2px rgba(0,0,0,0.2);
		
		h3 {
				position: relative;
				    left: 70px;
				    top: -8px;
				    font-size: 30px;
				    width: 220px;
				    text-align: left;
				    line-height: 25px;
				    color: #fff;
					text-transform:uppercase;
				    font-family: "Knockout 70 A", "Knockout 70 B";
				    font-style: normal;
				    font-weight: 400;
				}
		
	}
	.poster-nav {
		top:375px;
		border-top:5px solid #111;
		padding-top:10px;
		width:350px;
		position:absolute;
		a {
			text-transform:uppercase;
			text-decoration:none;
			width:100%;
			font-size: 1.15em;
			    float: left;
			    font-family: "Ziggurat A", "Ziggurat B";
			    font-style: normal;
			    font-weight: 800;
			    padding: 5px 0;
			    letter-spacing: 0.05em;
		}
	}

	&:first-of-type > div {
		background-image: url(image-tag(craft-02.jpg));
		background-repeat:repeat;
		background-position:center;
		.do-better{
			left:85px;
		    -ms-transform: rotate(-1deg); /* IE 9 */
		    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
		    transform: rotate(-1deg);
		}

		&::before {
			/* alert -> all scrolling effects are not visible on small devices */
			content: 'Effects not visible on mobile!';
			position: absolute;
			width: 100%;
			text-align: center;
			top: 20px;
			z-index: 2;
			font-weight: bold;
			font-size: 1.3rem;
			text-transform: uppercase;
			color: tint($color-1, 30%);
		}
	}

	&:nth-of-type(2) > div {
		background-image: url(image-tag(craft-01.jpg));
		background-repeat:repeat;
		background-position:center;
		.do-better{
		    -ms-transform: rotate(2deg); /* IE 9 */
		    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
		    transform: rotate(2deg);
		}
				
	}

	&:nth-of-type(3) > div {
		background-image: url(image-tag(craft-02.jpg));
		background-repeat:repeat;
		background-position:center;
		.do-better{
		    left: 200px;
		    -ms-transform: rotate(-1deg); /* IE 9 */
		    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
		    transform: rotate(-1deg);
		}
	}

	&:nth-of-type(4) > div {
		background-image: url(image-tag(craft-01.jpg));
		background-repeat:repeat;
		background-position:center;
		.do-better{
		    left:-10px;
		    -ms-transform: rotate(1deg); /* IE 9 */
		    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
		    transform: rotate(1deg);
		}
	}

	&:nth-of-type(5) > div {
		background-image: url(image-tag(craft-02.jpg));
		background-repeat:repeat;
		background-position:center;
		.do-better{
		    -ms-transform: rotate(1.4deg); /* IE 9 */
		    -webkit-transform: rotate(1.4deg); /* Chrome, Safari, Opera */
		    transform: rotate(1.4deg);
		}
	}
	&:nth-of-type(6) > div {
		background-image: url(image-tag(craft-01.jpg));
		background-repeat:repeat;
		background-position:center;
	}
	&:nth-of-type(7) > div {
		background-image: url(image-tag(craft-01.jpg));
		background-repeat:repeat;
		background-position:center;
	}


	.poster-content {
		position:relative;
		height:100vh;
		width:100%;
	}

	.poster {
		width:400px;
		height:600px;
		margin:0 auto;
		position:absolute;
		left:50%;
		top:50%;
		padding:50px 25px;
		margin-left:-200px;
		margin-top:-300px;
		background-image: url(image-tag(poster-art.png));
		background-repeat: no-repeat;
		background-position:center;
		background-size:cover;
	}



	.poster h1 {
	    font-family: "Knockout 70 A", "Knockout 70 B";
	    font-style: normal;
	    font-weight: 400;
		font-size: 3rem;
		    text-transform: uppercase;
		    word-wrap: break-word;
		
	}

	@include MQ(L) {

		h2 {
			margin-bottom:10px;
		}

		[data-hijacking="on"] & {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;

			> div {
				visibility: visible;
			}
		}

		[data-hijacking="off"] & > div {
			opacity: 0;
		}

		[data-animation="rotate"] & {
			/* enable a 3D-space for children elements */
			@include perspective(1800px);
		}

		[data-hijacking="on"][data-animation="rotate"] &:not(:first-of-type) {
			@include perspective-origin(center 0);
		}

		[data-animation="scaleDown"] & > div,
		[data-animation="gallery"] & > div,
		[data-animation="catch"] & > div {
			// box-shadow: 0 0 40px rgba(darken($color-1, 10%), .4);
			box-shadow: 0 0 0 rgba(darken($color-1, 10%), .4);
		}

		[data-animation="opacity"] &.visible > div {
			z-index: 1;
		}
	}
}

@include MQ(L) {
	.cd-section:first-of-type > div::before {
		display: none;
	}
}

.cd-section > div {

	@include MQ(L) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;

		/* Force Hardware Acceleration */
		@include transform(translateZ(0));
		@include backface-visibility(hidden);

		[data-hijacking="on"] & {
			position: absolute;
		}

		[data-animation="rotate"] & {
			@include transform-origin(center bottom);
		}
	}
}

.cd-vertical-nav {
	/* lateral navigation */
	position: fixed;
	z-index: 1;
	right: 3%;
	@include center(y);
	display: none;

	a {
		display: block;
		height: 40px;
		width: 40px;

		/* image replace */
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;

		background: url(image-tag('page-scroll/cd-icon-arrow.svg')) no-repeat center center;

		&.cd-prev {
			@include transform(rotate(180deg));
			margin-bottom: 10px;
		}

		&.inactive {
			visibility: hidden;
			opacity: 0;
			@include transition(opacity 0.2s 0s, visibility 0s 0.2s);
		}
	}

	@include MQ(L) {
		display: block;
	}
}
